<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crypcomapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrypComApp">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CrypComApp.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FavouriteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CrypComApp.ActionBar">

        </activity>


        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <!--android:theme="@style/Theme.CrypComApp.ActionBar"-->

        </activity>

        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <!--android:theme="@style/Theme.CrypComApp.ActionBar"-->

        </activity>

        <activity
            android:name=".BitcoinActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CrypComApp.ActionBar">

        </activity>

        <activity
            android:name=".EthereumActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CrypComApp.ActionBar">

        </activity>

        <activity
            android:name=".ChainlinkActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CrypComApp.ActionBar">

        </activity>

        <activity
            android:name=".CardanoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.CrypComApp.ActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>